<div (click)="toggle()" *ngIf="show" class="overlay">
  <ul *ngIf="!selectAlert" class="card-container">
    <li (click)="stopPropagation($event)"
        *ngFor="let alert of alerts"
        [ngClass]="{'scale-in': scale, 'scale-out': !scale}"
        class="card hoverable blue-grey darken-1 scale-transition"
    >
      <div class="left header-info">{{alert.status}}</div>
      <div class="right date header-info">{{alert.startsAt | date:'yyyy-MM-dd, HH:mm:ss'}}</div>
      <div class="card-content white-text">
        <div class="card-title">
          <app-probe [alert]="alert" class="left floating-probe"></app-probe>
          <span [attr.title]="alert.name">{{alert.name}}</span>
        </div>
        <p [innerHTML]="alert.message" class="content"></p>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="switch col s6">
            <a (click)="showDetailsFromCards(alert, $event)" href="#">Details</a>
          </div>
          <div class="switch col s6">
            <a (click)="showSilenceFromCards(alert, $event)" href="#">Silence</a>
          </div>
        </div>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="switch col s6">
            <a [attr.href]="alert.generatorURL" target="_blank"><i class="material-icons">exit_to_app</i>generator</a>
          </div>
          <div class="switch col s6">
            <a [attr.href]="alert.notifierURL" target="_blank"><i class="material-icons">exit_to_app</i>notifier</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="selectAlert && !silenceSection" class="details-container">
    <div (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}" class="details card blue-grey darken-1 scale-transition">
      <div class="left header-info">{{selectAlert.status}}</div>
      <div class="right date header-info">{{selectAlert.startsAt | date:'yyyy-MM-dd, HH:mm:ss'}}</div>
      <div class="card-content white-text">
        <div class="card-title">
          <app-probe [alert]="selectAlert" class="left floating-probe"></app-probe>
          <span [attr.title]="selectAlert.name">{{selectAlert.name}}</span>
        </div>
        <p [innerHTML]="selectAlert.message" class="content"></p>
      </div>
      <div *ngIf="selectAlert.status == 'silenced'" class="card-action">
        <ul class="info">
          <li><strong>Silence by</strong>: <span class="badge grey">{{selectAlert.silence.createdBy}}</span></li>
          <li><strong>Expire at</strong>:
            <span class="badge grey">{{selectAlert.silence.endsAt | date:'yyyy-MM-dd, HH:mm:ss'}}</span></li>
          <li><strong>Reason</strong>: <span class="badge grey">{{selectAlert.silence.reason}}</span></li>
        </ul>
      </div>
      <div class="card-action">
        <ul class="info">
          <li><strong>Identifier</strong>: <span class="badge grey">{{selectAlert.identifier}}</span></li>
          <li><strong>Probe</strong>: <span class="badge grey">{{selectAlert.probe}}</span></li>
        </ul>
      </div>
      <div class="card-action">
        <app-labels [labels]="selectAlert.labels"></app-labels>
      </div>
      <div class="card-action">
        <a (click)="toggle()" href="#">Close</a>
        <a (click)="showSilenceFromDetails(alert)" href="#">Silence</a>
        <a [attr.href]="selectAlert.generatorURL" target="_blank"><i class="material-icons">exit_to_app</i>
          generator</a>
        <a [attr.href]="selectAlert.notifierURL" target="_blank"><i class="material-icons">exit_to_app</i> notifier</a>
      </div>
    </div>
  </div>
  <div *ngIf="selectAlert && silenceSection" class="details-container">
    <app-silence (click)="stopPropagation($event)"
                 (close)="toggle()"
                 [alert]="selectAlert"
                 [ngClass]="{'scale-in': scale, 'scale-out': !scale}"
                 class="details card blue-grey darken-1 scale-transition"

    >
    </app-silence>
  </div>
</div>
