<div class="overlay" *ngIf="show" (click)="toggle()">
  <ul class="card-container">
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>

    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
    <li class="card hoverable blue-grey darken-1 scale-transition" (click)="stopPropagation($event)" [ngClass]="{'scale-in': scale, 'scale-out': !scale}">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </li>
  </ul>

</div>
