<nav class="blue-grey lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{ title }}</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="#" materialize="dropdown" [materializeParams]="[{constrainWidth:false, stopPropagation: true}]" data-alignment="right" data-beloworigin="true" data-activates='config'>
          <i class="large material-icons">settings</i>
        </a>
        <app-config id='config' class='dropdown-content' (click)="stopPropagation($event)"></app-config>
      </li>
      <li>
        <a href="#" materialize="sideNav" [materializeParams]="[{edge:'right', menuWidth:'650'}]" data-activates="alert-nav">
          <i class="large material-icons">notifications</i>
        </a>
      </li>
    </ul>

  </div>
</nav>

<app-alerts></app-alerts>



