table.center {
    margin-right: auto;
    margin-left: auto;
}

table {
    width: auto;
}

table td {
    padding: 3px 5px;
    border: 1px solid #d0d0d0;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

.probe-color {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th.identifier {
    width: 250px;
}

th.probe {
    height: 107px;
    white-space: nowrap;
    width: 35px;
    padding-left: 3px;
    padding-right: 0;
    font-size: 12px;
}

th.probe > div {
    transform: translate(0px, 51px) rotate(315deg);
    width: 30px;
}

th.probe > div > span {
    display: inline-block;
    border-top: 1px solid #d0d0d0;
    padding: 2px 22px;
    width: 75px;
}

#alert-nav li {
    line-height: normal;
    margin-bottom: 20px;
}

.details {
    cursor: auto;
    width: 80%;
}

.details .card-content {
    min-height: 500px;
}

.card-action i {
    font-size: 12px;
}

.card-action .info {
    list-style: none;
    height: 15px;
    color: white;
}

.card-action .info .badge {
    float: none;
    color: white;
    margin-left: 0;
}

.card-action .info li {
    margin-right: 10px;
    padding: 0;
    float: left;
}

.card .header-info {
    font-size: 0.7em;
    color: white;
    margin: 5px;
}

#alert-nav .card .card-title .circle {
    margin-top: 4px;
    margin-right: 6px;
}

#alert-nav .card .card-content p {
    max-height: 100px;
    overflow-y: scroll;
}