<app-card-alerts></app-card-alerts>
<simple-notifications class="notification" [options]="notifOptions"></simple-notifications>
<div class="container" *ngIf="gridShowable(); else noAlert">
  <div class="section">
    <div class="row">
      <table id="grid" class="bordered center">
        <thead>
        <tr>
          <th class="identifier"></th>
          <th class="probe" *ngFor="let probe of probes">
            <div><span>{{probe.name}}</span></div>
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let identifier of orderedAlerts?.identifiers">
          <tr *ngIf="hasShowableAlerts(identifier)">
            <td>{{identifier}}</td>
            <td class="probe-color" *ngFor="let probe of probes">
              <a href="#" class="circle pulse" (click)="cardAlerts.showAlerts(getGroupAlerts(identifier, probe.name))">
                <app-probe [alert]="getFirstAlert(identifier, probe.name)"></app-probe>
              </a>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</div>
<ng-template #noAlert>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Great !</h1>
      <div class="row center">
        <h5 class="header col s12 light">No alerts are firing.</h5>
      </div>
      <br><br>

    </div>
  </div>
</ng-template>

<ul id="alert-nav" class="side-nav">
  <li><h3>Current alerts</h3></li>
  <ng-container *ngFor="let alert of alerts">
    <li class="card blue-grey darken-1 z-depth-2" *ngIf="alert.status != 'silenced' || showSilenced">
      <div class="left header-info">{{alert.status}}</div>
      <div class="right date header-info">{{alert.startsAt | date:'yyyy-MM-dd, HH:mm:ss'}}</div>
      <div class="card-content white-text">
        <div class="card-title">
          <app-probe class="left floating-probe" zindex="3000" [alert]="alert"></app-probe>
          {{alert.name}}
        </div>
        <p class="content" [innerHTML]="alert.message"></p>
      </div>
      <div class="card-action" *ngIf="alert.status == 'silenced'">
        <ul class="info">
          <li><strong>Silence by</strong>: <span class="badge grey">{{alert.silence.createdBy}}</span></li>
          <li><strong>Expire at</strong>:
            <span class="badge grey">{{alert.silence.endsAt | date:'yyyy-MM-dd, HH:mm:ss'}}</span></li>
          <li><strong>Reason</strong>: <span class="badge grey">{{alert.silence.reason}}</span></li>
        </ul>
      </div>
      <div class="card-action">
        <ul class="info">
          <li><strong>Identifier</strong>: <span class="badge grey">{{alert.identifier}}</span></li>
          <li><strong>Probe</strong>: <span class="badge grey">{{alert.probe}}</span></li>
        </ul>
      </div>
      <div class="card-action">
        <a href="#" (click)="cardAlerts.showDetails(alert)">Details</a>
        <a href="#" (click)="cardAlerts.showSilence(alert)">Silence</a>
        <a [attr.href]="alert.generatorURL" target="_blank"><i class="material-icons">exit_to_app</i>
          generator</a>
        <a [attr.href]="alert.notifierURL" target="_blank"><i class="material-icons">exit_to_app</i> notifier</a>
      </div>
    </li>
  </ng-container>
</ul>


